.spotify-song-item {
  display: flex;
  margin-bottom: 25px;
  flex-direction: row;

  .song-index {
    align-self: center;
    font-size: 14px;
    color: #ccc;
    margin-right: 15px;
    cursor: pointer;
    &:hover {
      color: #000;
    }
  }

  .song-duration {
    width: 40px;
    text-align: center;
    margin-left: auto;
    color: #ccc;
    font-size: 14px;
    &:hover {
      color: #000;
    }
    cursor: pointer;
  }
}
