.spotify-song-item {
  display: flex;
  flex-direction: row;
  padding: 15px;
  cursor: pointer;

  &:hover {
    background-color: #f6f5f5;
  }

  .song-index {
    align-self: center;
    font-size: 14px;
    color: #ccc;
    margin-right: 15px;
    &:hover {
      color: #000;
    }
  }

  .song-duration {
    width: 40px;
    text-align: center;
    margin-left: auto;
    color: #ccc;
    font-size: 14px;
    &:hover {
      color: #000;
    }
  }
}
