.register-form {
  background: #fff; }
  .register-form .form-label {
    padding: 15px 20px;
    border-bottom: 1px solid #ccc;
    font-weight: 500;
    font-size: 15px; }
  .register-form .register-form-content {
    padding: 25px 20px; }
    .register-form .register-form-content .notation {
      font-size: 12px; }
      .register-form .register-form-content .notation span {
        color: orangered;
        font-weight: 500;
        cursor: pointer; }
        .register-form .register-form-content .notation span:hover {
          text-decoration: underline; }
