.blog-post {
  border-bottom: 1px solid #e7ebf4;
  padding: 20px; }
  .blog-post .topic {
    font-size: 29px;
    line-height: 35px;
    color: #717590;
    cursor: pointer;
    width: 90%; }
    .blog-post .topic:hover {
      color: #404257; }
  .blog-post .text {
    font-size: 15px;
    color: #747893;
    width: 90%;
    padding-top: 20px;
    padding-bottom: 20px; }
  .blog-post .created {
    font-size: 14px;
    color: #ccc;
    cursor: pointer; }
    .blog-post .created:hover {
      color: #000; }
