.sidebar-friends {
  background-color: #fff;
  position: relative;

  .friend-item {
    padding: 18px 0;
    text-align: center;
    cursor: pointer;

    &:hover {
      background-color: #f6f5f5;
    }

    .img-avatar {
      margin: 0 auto;
    }
  }
}
