.creator-block {
  align-items: center;
  display: flex; }
  .creator-block .creator-img {
    height: 45px;
    width: 45px;
    cursor: pointer;
    border-radius: 100%; }
  .creator-block .info {
    margin-left: 10px;
    display: flex;
    align-items: baseline; }
    .creator-block .info .creator .fullname {
      color: #404257;
      text-transform: capitalize;
      font-weight: 600;
      font-size: 17px;
      padding-bottom: 5px;
      line-height: 17px;
      cursor: pointer; }
    .creator-block .info .creator .post-created {
      color: #ccc;
      font-size: 14px;
      line-height: 14px;
      cursor: pointer; }
      .creator-block .info .creator .post-created:hover {
        opacity: 0.9;
        color: #000; }
