.aside-navigation {
  background-color: #fff; }
  .aside-navigation .nav-item {
    padding: 18px 0;
    text-align: center;
    cursor: pointer;
    color: #717590; }
    .aside-navigation .nav-item:hover {
      color: orangered;
      background-color: #f6f5f5; }
