.user {
  flex: 1;
  display: flex;
  align-items: center;
  margin-left: 25px; }
  .user .user-details {
    display: flex;
    position: relative; }
    .user .user-details .initials {
      padding-left: 10px;
      font-weight: 500; }
      .user .user-details .initials .fullname {
        font-size: 14px;
        line-height: 20px;
        color: #fff;
        text-transform: capitalize; }
      .user .user-details .initials .pseudonym {
        font-size: 9px;
        line-height: 9px;
        color: #717590;
        text-transform: uppercase;
        font-weight: 500; }
    .user .user-details .user-options {
      margin-left: 9px;
      font-size: 8px;
      margin-top: 5px;
      color: #fff; }
      .user .user-details .user-options .fa-angle-up {
        font-size: 12px; }
    .user .user-details .user-options-list {
      position: absolute;
      top: 30px;
      right: 0px;
      background: #404257;
      width: 100px;
      border: 1px solid #51536b;
      border-radius: 4px;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none; }
      .user .user-details .user-options-list .user-option {
        font-size: 14px;
        line-height: 18px;
        color: #ccc;
        color: #717590;
        padding: 7px 8px; }
        .user .user-details .user-options-list .user-option a {
          color: #717590; }
        .user .user-details .user-options-list .user-option:hover {
          background-color: #51536b;
          color: #fe5e3a; }
          .user .user-details .user-options-list .user-option:hover a {
            color: #fe5e3a; }
