.img-avatar {
  position: relative;
  height: 30px;
  width: 30px;

  img {
    height: 100%;
    width: 100%;
    border-radius: 100%;
  }
}
.avatar-lg {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  height: 134px;
  width: 134px;
  top: -140px;

  img {
    border: 4px solid #fff;
  }
}
