.fade-edit-enter {
  opacity: 0;
  transform: scale(0.9); }

.fade-edit-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms; }

.fade-edit-exit {
  opacity: 1; }

.fade-edit-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms; }

.item-enter {
  opacity: 0;
  transform: translateY(350px);
  transition: all 350ms ease-in; }

.item-enter-active {
  transform: translateY(0px);
  opacity: 1;
  transition: all 350ms ease-in; }

.item-exit {
  transform: translateY(0px); }

.item-exit-active {
  opacity: 0;
  transform: translateY(350px);
  transition: all 350ms ease-in; }
