.image-content {
  .post-description {
    font-size: 15px;
    color: #747893;
    width: 90%;
    padding-bottom: 20px;
  }

  .image-item {
    border-radius: 4px;
    overflow: hidden;
    height: 330px;
    .shared-img {
      width: 100%;
      height: 100%;
    }
  }
}
