.user-last-videos {
  .latest-videos-list {
    display: grid;
    grid-template-rows: repeat(3, 150px);
    grid-template-columns: 1fr;
    grid-row-gap: 20px;
    .video-record {
      .latest-video-youtube {
        width: 100%;
        height: 100%;
      }
    }
  }
}
