.field {
  position: relative;
  margin-bottom: 15px;

  label {
    position: absolute;
    font-size: 9px;
    left: 9px;
    line-height: 9px;
    margin: 0px;
    color: #ccc;
    text-transform: capitalize;
    top: 5px;
  }

  input {
    height: 40px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0 10px;

    font-size: 11px;
  }
}

.invalid-feedback,
.valid-feedback {
  display: block;
}

.is-error {
  input {
    outline-color: #dc3545;
    border-color: #dc3545;
  }

  label {
    color: #dc3545;
  }
}

.is-success {
  input {
    outline-color: #28a745;
    border-color: #28a745;
  }

  label {
    color: #28a745;
  }
}
