.twit-item {
  border-bottom: 1px solid #e7ebf4;
  padding: 20px;

  .info-block-item {
    img {
      height: 50px;
      width: 50px;
    }
  }

  .twit-text {
    padding-top: 10px;
    padding-bottom: 15px;
    color: #ccc;
    font-size: 15px;

    .twit-tag {
      color: #37bfef;
      font-weight: 500;
      cursor: pointer;
      margin-left: 3px;

      &:hover {
        color: #72d6fa;
      }
    }
  }

  .twit-created {
    color: #ddd;
    font-size: 14px;
  }
}
