.info-block-item {
  align-items: center;
  display: flex; }
  .info-block-item .item-img {
    height: 40px;
    width: 40px;
    cursor: pointer; }
    .info-block-item .item-img.square {
      border-radius: 6px; }
    .info-block-item .item-img .circle {
      border-radius: 100%; }
  .info-block-item .item-info {
    margin-left: 10px; }
    .info-block-item .item-info .title {
      color: #404257;
      text-transform: capitalize;
      font-weight: 500;
      font-size: 15px;
      padding-bottom: 5px;
      line-height: 15px;
      cursor: pointer;
      width: 170px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }
    .info-block-item .item-info .description {
      color: #ccc;
      font-size: 14px;
      line-height: 14px;
      cursor: pointer;
      width: 200px; }
      .info-block-item .item-info .description:hover {
        opacity: 0.9;
        color: #000; }
