.pool-item {
  .question {
    color: #747893;
    font-size: 16px;
  }
  .answers {
    padding: {
      top: 25px;
      bottom: 10px;
    }
    .vote-btn {
      width: 100%;
      margin-top: 20px;
      border: 1px solid #ccc;
      background: #fff;
      border-radius: 4px;
      font-size: 16px;
      color: #717590;
      padding: 5px;

      &:hover {
        background: orangered;
        color: #fff;
      }
    }

    .proposed-choice {
      padding-bottom: 15px;

      .choice-votes {
        color: #ccc;
        font-size: 14px;
        padding: 5px 0;
      }
    }
  }
}
