.timeline-headline {
  background: #fff;
  position: relative; }
  .timeline-headline .list {
    display: flex;
    flex-direction: row;
    padding: 35px 35px; }
    .timeline-headline .list .item {
      flex: 1;
      text-align: center;
      font-weight: 500;
      font-size: 15px; }
      .timeline-headline .list .item button {
        color: #ccc;
        border: none; }
        .timeline-headline .list .item button:hover {
          color: #000 !important; }
