.cover {
  border-radius: 2px;
  overflow: hidden;
  margin-bottom: 30px;
  border-radius: 2px;
  border: 1px solid #e7ebf4; }
  .cover .cover-img {
    height: 600px;
    width: 100%;
    background-size: cover; }
