.sub-comments-list {
  border: 1px solid #e7ebf4;
  background-color: #fff; }
  .sub-comments-list .sub-comments-item {
    border-radius: 2px;
    padding: 0 20px 0px 40px; }
    .sub-comments-list .sub-comments-item:last-child .sub-comment {
      border-bottom: none; }
    .sub-comments-list .sub-comments-item .sub-comment {
      border-bottom: 1px solid #e7ebf4;
      border-left: 1px solid #e7ebf4;
      padding: 20px 0px 20px 30px;
      position: relative; }
      .sub-comments-list .sub-comments-item .sub-comment::before {
        position: absolute;
        content: " ";
        width: 10px;
        height: 10px;
        border-radius: 100%;
        background-color: #fff;
        top: 34px;
        left: -6px;
        border: 3px solid #dfdfdf; }
