.chat-box {
  margin-left: 15px;
  background: #ddd;
  border-top-left-radius: 4px;
  width: 200px;
  border-top-right-radius: 4px;
  border: 1px solid cornflowerblue;
  background-color: #fff;
  overflow: hidden; }
  .chat-box .header {
    padding: 5px 10px;
    background-color: cornflowerblue;
    align-items: center;
    display: flex; }
    .chat-box .header .friend {
      display: flex;
      flex-direction: column;
      margin-left: 16px;
      font-size: 14px; }
      .chat-box .header .friend .fullname {
        line-height: 16px; }
      .chat-box .header .friend .status {
        font-size: 12px;
        line-height: 12px; }
      .chat-box .header .friend .inactive {
        color: red; }
      .chat-box .header .friend .active {
        color: green; }
    .chat-box .header .remove {
      cursor: pointer;
      margin-left: auto;
      color: #ef8989;
      position: relative;
      top: -5px;
      font-size: 16px;
      height: 20px;
      font-weight: bold;
      line-height: 20px; }
      .chat-box .header .remove:hover {
        color: #ed6060;
        transform: scale(1.3);
        transition: ease 0.2s transform; }
  .chat-box .content {
    overflow-y: scroll;
    height: 200px;
    padding: 10px 5px; }
    .chat-box .content .message {
      margin: 0;
      padding: 5px 10px;
      font-size: 12px;
      display: flex; }
      .chat-box .content .message .msg-content .text {
        font-size: 11px;
        line-height: 12px; }
      .chat-box .content .message .msg-content .date {
        font-size: 10px;
        font-family: sans-serif;
        font-weight: bold;
        margin-top: 1px; }
        .chat-box .content .message .msg-content .date:hover {
          opacity: 0.8;
          cursor: pointer; }
    .chat-box .content .you {
      margin-left: auto;
      width: 80%; }
      .chat-box .content .you .msg-content {
        display: flex;
        flex-direction: column;
        margin-left: auto;
        text-align: right; }
        .chat-box .content .you .msg-content .text {
          margin-left: auto;
          min-width: 40px;
          position: relative;
          border-bottom-right-radius: 10px;
          border-top-right-radius: 0;
          padding: 5px 10px 5px 10px;
          border-bottom-left-radius: 15px;
          border-top-left-radius: 15px;
          background-color: deepskyblue; }
          .chat-box .content .you .msg-content .text:hover {
            background: #49d1ff;
            cursor: pointer; }
            .chat-box .content .you .msg-content .text:hover::before {
              background: #49d1ff;
              cursor: pointer; }
          .chat-box .content .you .msg-content .text::before {
            content: " ";
            right: -1px;
            top: -3px;
            position: absolute;
            width: 7px;
            height: 7px;
            z-index: 1001;
            border-bottom-left-radius: 7px;
            border-bottom-right-radius: -10px;
            border-top-right-radius: 6px;
            border-top-left-radius: -9px;
            transform: rotate(90deg);
            background: deepskyblue; }
        .chat-box .content .you .msg-content .date {
          margin-right: 5px; }
    .chat-box .content .friend,
    .chat-box .content .admin {
      width: 80%; }
      .chat-box .content .friend .msg-content,
      .chat-box .content .admin .msg-content {
        display: flex;
        flex-direction: column;
        margin-right: auto;
        text-align: left; }
        .chat-box .content .friend .msg-content .date,
        .chat-box .content .admin .msg-content .date {
          margin-left: 5px; }
        .chat-box .content .friend .msg-content .text,
        .chat-box .content .admin .msg-content .text {
          margin-right: auto;
          min-width: 40px;
          padding: 5px 10px 5px 10px;
          border-bottom-right-radius: 15px;
          border-top-right-radius: 15px;
          border-bottom-left-radius: 10px;
          border-top-left-radius: 0px;
          background-color: #e3e3e3;
          position: relative; }
          .chat-box .content .friend .msg-content .text:hover,
          .chat-box .content .admin .msg-content .text:hover {
            background: #ececec;
            cursor: pointer; }
            .chat-box .content .friend .msg-content .text:hover::before,
            .chat-box .content .admin .msg-content .text:hover::before {
              background: #ececec;
              cursor: pointer; }
          .chat-box .content .friend .msg-content .text::before,
          .chat-box .content .admin .msg-content .text::before {
            content: " ";
            left: -1px;
            top: -3px;
            position: absolute;
            width: 7px;
            height: 7px;
            z-index: 1001;
            border-bottom-left-radius: 7px;
            border-bottom-right-radius: -10px;
            border-top-right-radius: 6px;
            border-top-left-radius: -9px;
            border-color: dimgray;
            background: #e3e3e3; }
    .chat-box .content .admin .text {
      background: yellowgreen !important; }
      .chat-box .content .admin .text:hover {
        background: #b2de58 !important;
        cursor: pointer !important; }
        .chat-box .content .admin .text:hover::before {
          background: #b2de58 !important;
          cursor: pointer !important; }
      .chat-box .content .admin .text::before {
        background: yellowgreen !important; }
  .chat-box .send-msg {
    position: relative; }
    .chat-box .send-msg textarea {
      overflow-y: scroll;
      resize: none;
      width: 100%;
      padding: 4px 30px 4px 15px;
      font-size: 13px;
      font-family: initial;
      border-bottom: initial;
      border-left: initial;
      border-right: initial;
      border-top: 1px solid #ccc; }
      .chat-box .send-msg textarea:focus {
        outline: none;
        border-top-color: cornflowerblue; }
    .chat-box .send-msg span {
      z-index: 1;
      cursor: pointer;
      position: absolute;
      top: 20%;
      right: 10px;
      transform: translate(0, -50%);
      font-size: 12px;
      color: #b3b3b3; }
      .chat-box .send-msg span:hover {
        color: cornflowerblue; }
