.chat-box {
  margin-left: 15px;
  background: #ddd;
  border-top-left-radius: 4px;
  width: 200px;
  border-top-right-radius: 4px;
  border: 1px solid cornflowerblue;
  background-color: #fff;
  overflow: hidden;

  .header {
    padding: 5px 10px;
    background-color: cornflowerblue;
    align-items: center;
    display: flex;

    .friend {
      display: flex;
      flex-direction: column;
      margin-left: 16px;
      font-size: 14px;

      .fullname {
        line-height: 16px;
      }

      .status {
        font-size: 12px;
        line-height: 12px;
      }

      .inactive {
        color: red;
      }
      .active {
        color: green;
      }
    }
    .remove {
      cursor: pointer;
      margin-left: auto;
      color: #ef8989;
      position: relative;
      top: -5px;
      font-size: 16px;
      height: 20px;
      font-weight: bold;
      line-height: 20px;

      &:hover {
        color: #ed6060;
        transform: scale(1.3);
        transition: ease 0.2s transform;
      }
    }
  }

  .content {
    overflow-y: scroll;
    height: 200px;
    padding: 10px 5px;

    .message {
      margin: 0;
      padding: 5px 10px;
      font-size: 12px;
      display: flex;

      .msg-content {
        .text {
          font-size: 11px;
          line-height: 12px;
        }

        .date {
          font-size: 10px;
          font-family: sans-serif;
          font-weight: bold;
          margin-top: 1px;

          &:hover {
            opacity: 0.8;
            cursor: pointer;
          }
        }
      }
    }

    $min-width: 75px;
    .you {
      margin-left: auto;
      width: 80%;

      .msg-content {
        display: flex;
        flex-direction: column;
        margin-left: auto;
        text-align: right;

        .text {
          margin-left: auto;
          min-width: 40px;
          position: relative;
          border-bottom-right-radius: 10px;
          border-top-right-radius: 0;
          padding: 5px 10px 5px 10px;
          border-bottom-left-radius: 15px;
          border-top-left-radius: 15px;
          background-color: deepskyblue;

          &:hover {
            background: #49d1ff;
            cursor: pointer;

            &::before {
              background: #49d1ff;
              cursor: pointer;
            }
          }

          &::before {
            content: " ";
            right: -1px;
            top: -3px;
            position: absolute;
            width: 7px;
            height: 7px;
            z-index: 1001;
            border-bottom-left-radius: 7px;
            border-bottom-right-radius: -10px;
            border-top-right-radius: 6px;
            border-top-left-radius: -9px;
            transform: rotate(90deg);
            background: deepskyblue;
          }
        }

        .date {
          margin-right: 5px;
        }
      }
    }

    .friend,
    .admin {
      width: 80%;

      .msg-content {
        display: flex;
        flex-direction: column;
        margin-right: auto;
        text-align: left;

        .date {
          margin-left: 5px;
        }

        .text {
          margin-right: auto;
          min-width: 40px;
          padding: 5px 10px 5px 10px;
          border-bottom-right-radius: 15px;
          border-top-right-radius: 15px;
          border-bottom-left-radius: 10px;
          border-top-left-radius: 0px;
          background-color: #e3e3e3;
          position: relative;

          &:hover {
            background: #ececec;
            cursor: pointer;

            &::before {
              background: #ececec;
              cursor: pointer;
            }
          }

          &::before {
            content: " ";
            left: -1px;
            top: -3px;
            position: absolute;
            width: 7px;
            height: 7px;
            z-index: 1001;
            border-bottom-left-radius: 7px;
            border-bottom-right-radius: -10px;
            border-top-right-radius: 6px;
            border-top-left-radius: -9px;
            border-color: dimgray;
            background: #e3e3e3;
          }
        }
      }
    }

    .admin {
      .text {
        background: yellowgreen !important;

        &:hover {
          background: #b2de58 !important;
          cursor: pointer !important;

          &::before {
            background: #b2de58 !important;
            cursor: pointer !important;
          }
        }
        &::before {
          background: yellowgreen !important;
        }
      }
    }
  }

  .send-msg {
    position: relative;
    textarea {
      overflow-y: scroll;
      resize: none;
      width: 100%;
      padding: 4px 30px 4px 15px;
      font-size: 13px;
      font-family: initial;
      border-bottom: initial;
      border-left: initial;
      border-right: initial;
      border-top: 1px solid #ccc;
      &:focus {
        outline: none;
        border-top-color: cornflowerblue;
      }
    }

    span {
      z-index: 1;
      cursor: pointer;
      position: absolute;
      top: 20%;
      right: 10px;
      transform: translate(0, -50%);
      font-size: 12px;
      color: #b3b3b3;

      &:hover {
        color: cornflowerblue;
      }
    }
  }
}
