.photo-item {
  cursor: pointer; }
  .photo-item img {
    border-radius: 6px;
    height: 102px;
    width: 102px;
    border: 1px solid #fff; }
    .photo-item img:hover {
      border: 1px solid #404257; }
