.badge-item {
  border-radius: 100%;
  height: 15px;
  width: 15px;
  position: absolute;
  background-color: #ccc;

  .content {
    font-size: 12px;
    position: absolute;
    color: #fff;
    left: 50%;
    top: -2px;
    transform: translate(-50%, 0);
  }

  &.warning {
    background-color: #fe5e3a;
  }

  &.normal-tr {
    top: 2px;
    right: -3px;
  }

  &.normal-tl {
    top: 2px;
    left: -3px;
  }

  &.small {
    height: 8px;
    width: 8px;
    top: 0px;
  }

  &.small-tl {
    left: 0px;
  }

  &.small-tr {
    right: 0px;
  }
}
