.login-page {
  height: 1000px;
  width: 100%;
  background-attachment: fixed; }
  .login-page .bg-layer {
    background-color: rgba(255, 69, 0, 0.9);
    height: 100%; }

.login-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  z-index: 10; }
  .login-header a.login-home-link:hover .logo-name {
    color: #ccc; }
  .login-header a.login-home-link .logo-img {
    height: 50px; }
  .login-header a.login-home-link .logo-name {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
    padding-left: 10px; }
  .login-header .hamburger {
    margin-left: auto;
    color: #fff;
    cursor: pointer; }
    .login-header .hamburger:hover {
      color: #ccc; }

.login-content {
  display: flex;
  margin-top: 100px; }
  .login-content .aside-left {
    width: 50%;
    color: #fff;
    margin-top: 100px;
    flex: 1; }
  .login-content .aside-right {
    flex: 1; }

.greetings .title {
  font-size: 40px;
  font-weight: 200;
  width: 90%;
  margin-bottom: 0px; }

.greetings .description {
  width: 90%;
  padding-top: 40px;
  font-size: 15px;
  padding-bottom: 50px; }

.register-btn {
  padding: 9px 30px;
  background: none;
  border: 1.5px solid #fff;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  cursor: pointer; }
  .register-btn:hover {
    color: #ccc;
    border-color: #ccc; }

.form {
  height: 100%;
  display: flex;
  width: 450px;
  background-color: #fff;
  border-radius: 4px;
  border: none; }
  .form .select-form-btns {
    display: flex;
    flex-direction: column;
    width: 30px;
    height: 100%;
    flex: 1;
    border-right: 1px solid #ccc; }
    .form .select-form-btns .login-form-btn,
    .form .select-form-btns .register-form-btn {
      height: 50%;
      display: block;
      position: relative;
      width: 100%; }
      .form .select-form-btns .login-form-btn:hover,
      .form .select-form-btns .register-form-btn:hover {
        color: orangered;
        cursor: pointer; }
      .form .select-form-btns .login-form-btn i,
      .form .select-form-btns .register-form-btn i {
        padding: 5px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); }
    .form .select-form-btns .register-form-btn {
      border-top: 1px solid #ccc; }
      .form .select-form-btns .register-form-btn i {
        transform: translate(-50%, -50%) rotate(180deg); }
  .form .content {
    flex: 7; }

.login-form {
  background: #fff; }
  .login-form .form-label {
    padding: 15px 20px;
    border-bottom: 1px solid #ccc;
    font-weight: 500;
    font-size: 15px; }
  .login-form .login-form-content {
    padding: 25px 20px; }
    .login-form .login-form-content .additional-options {
      display: flex;
      color: #ccc;
      align-items: center; }
      .login-form .login-form-content .additional-options label {
        font-size: 12px;
        margin: 0;
        line-height: 12px;
        display: flex; }
        .login-form .login-form-content .additional-options label:hover {
          color: #000;
          cursor: pointer; }
        .login-form .login-form-content .additional-options label span {
          padding-left: 5px; }
      .login-form .login-form-content .additional-options .forgot-password {
        font-size: 12px;
        margin-left: auto; }
        .login-form .login-form-content .additional-options .forgot-password:hover {
          color: #000;
          cursor: pointer; }
    .login-form .login-form-content .login-btns {
      padding: 25px 0;
      display: flex;
      flex-direction: column; }
    .login-form .login-form-content .middle-line {
      text-align: center;
      font-size: 12px;
      padding: 15px 0;
      position: relative; }
      .login-form .login-form-content .middle-line span {
        width: 50px;
        background: #fff;
        margin: 0 auto;
        z-index: 1;
        position: relative;
        display: block; }
      .login-form .login-form-content .middle-line:after {
        content: " ";
        position: absolute;
        height: 1px;
        width: 100%;
        background-color: #ccc;
        top: 50%;
        transform: translate(-50%, 0); }
    .login-form .login-form-content .notation {
      font-size: 12px; }
      .login-form .login-form-content .notation span {
        color: orangered;
        font-weight: 500;
        cursor: pointer; }
        .login-form .login-form-content .notation span:hover {
          text-decoration: underline; }

.register-form {
  background: #fff; }
  .register-form .form-label {
    padding: 15px 20px;
    border-bottom: 1px solid #ccc;
    font-weight: 500;
    font-size: 15px; }
  .register-form .register-form-content {
    padding: 25px 20px; }
    .register-form .register-form-content .notation {
      font-size: 12px; }
      .register-form .register-form-content .notation span {
        color: orangered;
        font-weight: 500;
        cursor: pointer; }
        .register-form .register-form-content .notation span:hover {
          text-decoration: underline; }

.field {
  position: relative;
  margin-bottom: 15px; }
  .field label {
    position: absolute;
    font-size: 9px;
    left: 9px;
    line-height: 9px;
    margin: 0px;
    color: #ccc;
    text-transform: capitalize;
    top: 5px; }
  .field input {
    height: 40px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0 10px;
    font-size: 11px; }

.invalid-feedback,
.valid-feedback {
  display: block; }

.is-error input {
  outline-color: #dc3545;
  border-color: #dc3545; }

.is-error label {
  color: #dc3545; }

.is-success input {
  outline-color: #28a745;
  border-color: #28a745; }

.is-success label {
  color: #28a745; }

.profile-header {
  display: flex;
  height: 70px;
  align-items: center;
  background: #404257;
  cursor: pointer; }
  .profile-header .logo {
    background-color: #fe5e3a; }
    .profile-header .logo img {
      height: 70px;
      padding: 10px; }
  .profile-header .page-name {
    padding-left: 40px;
    padding-right: 80px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 18px;
    flex: 1; }
  .profile-header .find-friends {
    flex: 1;
    text-align: center;
    font-size: 17px;
    color: #fff;
    font-weight: 500; }

.social-notification {
  font-size: 23px;
  color: #747893;
  position: relative;
  padding: 3px; }
  .social-notification:hover {
    color: #fff; }
  .social-notification.has-status {
    color: #fff; }

.social-notifications {
  flex: 1;
  display: flex;
  justify-content: space-around;
  align-items: center; }

.user {
  flex: 1;
  display: flex;
  align-items: center;
  margin-left: 25px; }
  .user .user-details {
    display: flex;
    position: relative; }
    .user .user-details .initials {
      padding-left: 10px;
      font-weight: 500; }
      .user .user-details .initials .fullname {
        font-size: 14px;
        line-height: 20px;
        color: #fff;
        text-transform: capitalize; }
      .user .user-details .initials .pseudonym {
        font-size: 9px;
        line-height: 9px;
        color: #717590;
        text-transform: uppercase;
        font-weight: 500; }
    .user .user-details .user-options {
      margin-left: 9px;
      font-size: 8px;
      margin-top: 5px;
      color: #fff; }
      .user .user-details .user-options .fa-angle-up {
        font-size: 12px; }
    .user .user-details .user-options-list {
      position: absolute;
      bottom: -70px;
      right: 0px;
      background: #404257;
      width: 100px;
      border: 1px solid #51536b;
      border-radius: 2px;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none; }
      .user .user-details .user-options-list .user-option {
        font-size: 12px;
        line-height: 18px;
        color: #ccc;
        color: #717590;
        padding: 2px 5px; }
        .user .user-details .user-options-list .user-option:hover {
          background-color: #51536b;
          color: #fe5e3a; }

.search-bar {
  position: relative;
  box-sizing: border-box;
  flex: 2;
  width: 100%;
  color: #717590; }
  .search-bar:hover input {
    background-color: #51536b; }
  .search-bar input {
    height: 70px;
    border: none;
    background-color: #4a4c63;
    width: 100%;
    padding: 0 30px;
    color: #fff;
    outline: none; }
    .search-bar input::placeholder {
      color: #747893; }
    .search-bar input:focus ~ span {
      color: #fff; }
  .search-bar .search-icon {
    pointer-events: none;
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translate(0%, -50%);
    font-size: 20px; }

.profile-content {
  display: grid;
  grid-template-columns: 70px auto 70px; }

.aside-navigation {
  background-color: #fff; }
  .aside-navigation .nav-item {
    padding: 18px 0;
    text-align: center;
    cursor: pointer;
    color: #717590; }
    .aside-navigation .nav-item:hover {
      color: orangered;
      background-color: #f6f5f5; }

.sidebar-friends {
  background-color: #fff; }
  .sidebar-friends .friend-item {
    padding: 18px 0;
    text-align: center;
    cursor: pointer; }
    .sidebar-friends .friend-item:hover {
      background-color: #f6f5f5; }
    .sidebar-friends .friend-item .img-avatar {
      margin: 0 auto; }

.content-main {
  padding: 30px;
  background-color: #edf2f6; }

.cover {
  border-radius: 2px;
  overflow: hidden;
  margin-bottom: 30px;
  border-radius: 2px;
  border: 1px solid #e7ebf4; }
  .cover .cover-img {
    height: 600px;
    width: 100%;
    background-size: cover; }

.timeline-headline {
  background: #fff;
  position: relative; }
  .timeline-headline .list {
    display: flex;
    flex-direction: row;
    padding: 35px 35px; }
    .timeline-headline .list .item {
      flex: 1;
      text-align: center;
      font-weight: 500;
      font-size: 15px; }
      .timeline-headline .list .item a {
        color: #ccc; }
        .timeline-headline .list .item a:hover {
          color: #000 !important; }

.headline-timeline-user {
  display: flex;
  flex-direction: column;
  position: relative;
  top: -7px; }
  .headline-timeline-user .details .fullname {
    font-size: 25px;
    color: #525365;
    line-height: 25px;
    font-weight: 700;
    text-transform: capitalize; }
  .headline-timeline-user .details .location {
    color: #525365;
    font-size: 13px;
    text-transform: capitalize;
    line-height: 24px; }

.social-btns {
  position: absolute;
  right: 45px;
  top: -40px;
  display: flex;
  flex-direction: row; }

.profile-details {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-column-gap: 30px; }

.profile-intro-item {
  margin-bottom: 25px; }
  .profile-intro-item .profile-intro-item-title {
    color: #404257;
    text-transform: capitalize;
    font-weight: 500;
    font-size: 15px;
    padding-bottom: 5px;
    cursor: pointer; }
    .profile-intro-item .profile-intro-item-title:hover {
      color: #717590; }
  .profile-intro-item .profile-intro-item-description {
    color: #ccc;
    font-size: 15px; }

.social-networks .social-networks-header {
  color: #404257;
  text-transform: capitalize;
  font-weight: 500;
  font-size: 15px;
  padding-bottom: 5px; }

.social-networks .social-networks-body {
  padding-top: 10px;
  display: flex;
  flex-direction: column; }
  .social-networks .social-networks-body button:nth-child(-n + 2) {
    margin-bottom: 15px; }

.user-badges .info-block-content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-row-gap: 15px; }
  .user-badges .info-block-content .badge-avatar {
    margin: 0 auto;
    cursor: pointer; }
    .user-badges .info-block-content .badge-avatar img {
      border: 1px solid #fff; }
      .user-badges .info-block-content .badge-avatar img:hover {
        border: 1px solid #404257; }

.spotify-song-item {
  display: flex;
  flex-direction: row;
  padding: 15px;
  cursor: pointer; }
  .spotify-song-item:hover {
    background-color: #f6f5f5; }
  .spotify-song-item .song-index {
    align-self: center;
    font-size: 14px;
    color: #ccc;
    margin-right: 15px; }
    .spotify-song-item .song-index:hover {
      color: #000; }
  .spotify-song-item .song-duration {
    width: 40px;
    text-align: center;
    margin-left: auto;
    color: #ccc;
    font-size: 14px; }
    .spotify-song-item .song-duration:hover {
      color: #000; }

.spotify-playlist .info-block-content {
  padding: 0px; }

.twitter-feed .info-block-content {
  padding: 0px; }
  .twitter-feed .info-block-content .twitter-feed-list .twit-item:last-child {
    border-bottom: none; }

.twit-item {
  border-bottom: 1px solid #e7ebf4;
  padding: 20px; }
  .twit-item .info-block-item img {
    height: 50px;
    width: 50px; }
  .twit-item .twit-text {
    padding-top: 10px;
    padding-bottom: 15px;
    color: #ccc;
    font-size: 15px; }
    .twit-item .twit-text .twit-tag {
      color: #37bfef;
      font-weight: 500;
      cursor: pointer;
      margin-left: 3px; }
      .twit-item .twit-text .twit-tag:hover {
        color: #72d6fa; }
  .twit-item .twit-created {
    color: #ddd;
    font-size: 14px;
    cursor: pointer; }
    .twit-item .twit-created:hover {
      color: #000; }

.profile-photos .profile-photos-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5px; }

.photo-item {
  cursor: pointer; }
  .photo-item img {
    border-radius: 6px;
    height: 102px;
    width: 102px;
    border: 1px solid #fff; }
    .photo-item img:hover {
      border: 1px solid #404257; }

.profile-blog .info-block-content {
  padding: 0px; }
  .profile-blog .info-block-content .blog-post:last-child {
    border-bottom: none; }

.blog-post {
  border-bottom: 1px solid #e7ebf4;
  padding: 20px; }
  .blog-post .topic {
    font-size: 29px;
    line-height: 35px;
    color: #717590;
    cursor: pointer;
    width: 90%; }
    .blog-post .topic:hover {
      color: #404257; }
  .blog-post .text {
    font-size: 15px;
    color: #747893;
    width: 90%;
    padding-top: 20px;
    padding-bottom: 20px; }
  .blog-post .created {
    font-size: 14px;
    color: #ccc;
    cursor: pointer; }
    .blog-post .created:hover {
      color: #000; }

.profile-friends .profile-friends-list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-row-gap: 20px; }
  .profile-friends .profile-friends-list .img-avatar {
    margin: 0 auto;
    cursor: pointer; }
    .profile-friends .profile-friends-list .img-avatar img {
      border: 1px solid #fff; }
      .profile-friends .profile-friends-list .img-avatar img:hover {
        border: 1px solid #404257; }
  .profile-friends .profile-friends-list .show-more-friends {
    border-radius: 100%;
    background-color: orangered;
    color: #fff;
    place-self: center;
    position: relative;
    cursor: pointer;
    border: 1px solid orangered; }
    .profile-friends .profile-friends-list .show-more-friends:hover {
      border: 1px solid #404257;
      background-color: #f75d25; }
    .profile-friends .profile-friends-list .show-more-friends .friends-remaining {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 14px;
      line-height: 15px;
      font-weight: 800; }

.favourite-pages .info-block-content {
  padding: 0px; }

.favourite-page-item {
  display: flex;
  align-items: center;
  padding: 20px; }
  .favourite-page-item:hover {
    background-color: #f6f5f5; }
  .favourite-page-item .tooltip-target {
    margin-left: auto; }
    .favourite-page-item .tooltip-target .add-to-favorites {
      font-size: 22px;
      color: #ccc;
      cursor: pointer; }
      .favourite-page-item .tooltip-target .add-to-favorites:hover {
        color: orangered; }

.react-tooltip-lite {
  background: #333;
  color: white;
  border-radius: 4px;
  font-size: 12px;
  text-align: center;
  font-weight: 500; }

.react-tooltip-lite-arrow {
  border-color: #333; }

.user-pool .user-pool-list .pool-item {
  margin-top: 20px; }
  .user-pool .user-pool-list .pool-item:first-child {
    margin-top: 0; }
  .user-pool .user-pool-list .pool-item .proposed-choice:last-child {
    padding-bottom: 0px; }

.pool-item .question {
  color: #747893;
  font-size: 16px; }

.pool-item .answers {
  padding-top: 25px;
  padding-bottom: 10px; }
  .pool-item .answers .vote-btn {
    width: 100%;
    margin-top: 20px;
    border: 1px solid #ccc;
    background: #fff;
    border-radius: 4px;
    font-size: 16px;
    color: #717590;
    padding: 5px; }
    .pool-item .answers .vote-btn:hover {
      background: orangered;
      color: #fff; }
  .pool-item .answers .proposed-choice {
    padding-bottom: 15px; }
    .pool-item .answers .proposed-choice .choice-votes {
      color: #ccc;
      font-size: 14px;
      padding: 5px 0; }

.answer {
  display: flex; }
  .answer label {
    font-size: 15px;
    color: #404257;
    text-transform: capitalize;
    font-weight: 600; }
    .answer label .radio-btn {
      margin-right: 10px;
      height: 20px;
      display: inline-block;
      width: 20px;
      position: relative;
      top: 50%;
      transform: translate(0, -50%);
      border-radius: 100%;
      border: 1px solid #ccc;
      cursor: pointer; }
      .answer label .radio-btn .radio-btn-target {
        pointer-events: none;
        height: 8px;
        width: 8px;
        background: orangered;
        border-radius: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
        opacity: 1; }
  .answer .vote-percentage {
    font-size: 15px;
    color: #404257;
    font-weight: 600;
    margin-left: auto; }

.friends-voted {
  display: inline-flex;
  flex-direction: row;
  padding-left: 10px; }
  .friends-voted .choice-voter {
    position: relative;
    margin-left: -10px;
    overflow: hidden; }
    .friends-voted .choice-voter .voter-avatar img {
      cursor: pointer;
      border: 1px solid #fff; }
      .friends-voted .choice-voter .voter-avatar img:hover {
        border: 1px solid #404257; }

.pool-progress {
  height: 15px;
  width: 100%;
  background-color: #ccc;
  border-radius: 6px;
  overflow: hidden;
  border-radius: 6px;
  cursor: pointer; }
  .pool-progress:hover .pool-progress-bar .progress-bar-percentage {
    opacity: 1; }
  .pool-progress .pool-progress-bar {
    height: 100%;
    background-color: orangered;
    position: relative; }
    .pool-progress .pool-progress-bar .progress-bar-percentage {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: #fff;
      font-size: 11px;
      font-weight: bold;
      opacity: 0; }

.ui-btn {
  height: 40px;
  border-radius: 4px;
  border: none;
  color: #fff; }
  .ui-btn:hover {
    opacity: 0.9; }
  .ui-btn span {
    padding-right: 10px; }

.reg-login {
  background-color: orangered; }

.fb-btn {
  background-color: #3c5a99;
  margin-bottom: 10px; }

.tw-btn {
  background-color: #38a1f3; }

.dribbble-btn {
  background-color: #f74881; }

.register {
  background-color: orangered;
  width: 100%;
  margin: 15px 0 30px 0; }

.btn-disabled {
  background-color: #f0825a; }
  .btn-disabled:hover {
    opacity: 1; }

.badge-item {
  border-radius: 100%;
  height: 15px;
  width: 15px;
  position: absolute;
  background-color: #ccc; }
  .badge-item .content {
    font-size: 12px;
    position: absolute;
    color: #fff;
    left: 50%;
    top: -2px;
    transform: translate(-50%, 0); }
  .badge-item.warning {
    background-color: #fe5e3a; }
  .badge-item.normal-tr {
    top: 2px;
    right: -3px; }
  .badge-item.normal-tl {
    top: 2px;
    left: -3px; }
  .badge-item.small {
    height: 8px;
    width: 8px;
    top: 0px; }
  .badge-item.small-tl {
    left: 0px; }
  .badge-item.small-tr {
    right: 0px; }

.img-avatar {
  position: relative;
  height: 30px;
  width: 30px; }
  .img-avatar img {
    height: 100%;
    width: 100%;
    border-radius: 100%; }

.avatar-lg {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  height: 134px;
  width: 134px;
  top: -140px; }
  .avatar-lg img {
    border: 4px solid #fff; }

.avatar-medium {
  position: relative;
  height: 40px;
  width: 40px; }
  .avatar-medium .badge-item {
    top: 0px;
    right: -3px; }

.social-btn {
  border-radius: 100%;
  background: gray;
  width: 50px;
  height: 50px;
  margin-right: 15px;
  position: relative;
  cursor: pointer; }
  .social-btn:hover {
    opacity: 0.9; }
  .social-btn i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 28px;
    color: #fff; }
  .social-btn.new-friend {
    background-color: #38a1f3; }
  .social-btn.new-message {
    background-color: #3c5a99; }
  .social-btn.new-something {
    background-color: orangered; }

.elipsis-btn {
  font-size: 22px;
  line-height: 22px;
  cursor: pointer; }

.info-block {
  margin-bottom: 30px; }

.info-block-header {
  border-radius: 2px;
  border: 1px solid #e7ebf4;
  background-color: #fff;
  display: flex;
  padding: 25px 20px;
  margin-bottom: 1px; }
  .info-block-header .block-title {
    color: #404257;
    font-weight: 500;
    font-size: 18px;
    text-transform: capitalize; }
  .info-block-header .show-options {
    margin-left: auto;
    color: #ccc; }
    .info-block-header .show-options:hover {
      color: #000; }

.info-block-content {
  border-radius: 2px;
  border: 1px solid #e7ebf4;
  background-color: #fff;
  padding: 25px 20px; }

.info-block-item {
  align-items: center;
  display: flex; }
  .info-block-item .item-img {
    height: 40px;
    width: 40px;
    cursor: pointer; }
    .info-block-item .item-img.square {
      border-radius: 6px; }
    .info-block-item .item-img.circle {
      border-radius: 100%; }
  .info-block-item .item-info {
    margin-left: 10px; }
    .info-block-item .item-info .title {
      color: #404257;
      text-transform: capitalize;
      font-weight: 500;
      font-size: 15px;
      padding-bottom: 5px;
      line-height: 15px;
      cursor: pointer;
      width: 170px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }
    .info-block-item .item-info .description {
      color: #ccc;
      font-size: 14px;
      line-height: 14px;
      cursor: pointer;
      width: 200px; }
      .info-block-item .item-info .description:hover {
        opacity: 0.9;
        color: #000; }
