.sidebar-friends-options {
  position: absolute;
  bottom: 0px;
  width: 100%;

  .menu-option,
  .chat-option {
    padding: 18px 0;
    text-align: center;
    cursor: pointer;
    color: #fff;
  }

  .menu-option {
    color: #ccc;
    background: #fff;

    &:hover {
      color: orangered;
    }
  }

  .chat-option {
    background: #7d5ac2;
    color: #fff;
    &:hover {
      color: orangered;
    }
  }
}
