.login-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  z-index: 10;

  a.login-home-link {
    &:hover {
      .logo-name {
        color: #ccc;
      }
    }

    .logo-img {
      height: 50px;
    }

    .logo-name {
      font-size: 14px;
      text-transform: uppercase;
      font-weight: 700;
      color: #fff;
      padding-left: 10px;
    }
  }

  .hamburger {
    margin-left: auto;
    color: #fff;
    cursor: pointer;

    &:hover {
      color: #ccc;
    }
  }
}
