.login-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  z-index: 10; }
  .login-header .logo-img {
    height: 50px; }
  .login-header .logo-name {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
    padding-left: 10px; }
  .login-header .hamburger {
    margin-left: auto;
    color: #fff;
    cursor: pointer; }
