.twitter-feed {
  .info-block-content {
    padding: 0px;

    .twitter-feed-list {
      .twit-item {
        &:last-child {
          margin-bottom: 0px;
          border-bottom: none;
        }
      }
    }
  }
}
