.info-block-header {
  border-radius: 2px;
  border: 1px solid #e7ebf4;
  background-color: #fff;
  display: flex;
  padding: 25px 20px;
  margin-bottom: 1px; }
  .info-block-header .block-title {
    color: #404257;
    font-weight: 500;
    font-size: 18px;
    text-transform: capitalize; }
  .info-block-header .show-options {
    margin-left: auto;
    color: #ccc; }
    .info-block-header .show-options:hover {
      color: #000; }
