body {
  margin: none;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif; }
  body ul {
    margin: 0;
    padding: 0;
    list-style: none; }
  body a {
    color: #000;
    text-decoration: none; }
    body a:hover, body a:focus {
      color: #000;
      text-decoration: none; }

.login-page {
  height: 700px;
  width: 100%; }
  .login-page .bg-layer {
    background-color: rgba(255, 69, 0, 0.9);
    height: 100%; }

.login-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  z-index: 10; }
  .login-header .logo-img {
    height: 50px; }
  .login-header .logo-name {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
    padding-left: 10px; }
    .login-header .logo-name:hover {
      color: #ccc; }
  .login-header .hamburger {
    margin-left: auto;
    color: #fff;
    cursor: pointer; }
    .login-header .hamburger:hover {
      color: #ccc; }

.login-content {
  display: flex;
  margin-top: 100px; }
  .login-content .aside-left {
    width: 50%;
    color: #fff;
    margin-top: 100px;
    flex: 1; }
  .login-content .aside-right {
    flex: 1; }

.greetings .title {
  font-size: 40px;
  font-weight: 200;
  width: 90%;
  margin-bottom: 0px; }

.greetings .description {
  width: 90%;
  padding-top: 40px;
  font-size: 15px;
  padding-bottom: 50px; }

.register-btn {
  padding: 9px 30px;
  background: none;
  border: 1.5px solid #fff;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  cursor: pointer; }
  .register-btn:hover {
    color: #ccc;
    border-color: #ccc; }

.form {
  height: 100%;
  display: flex;
  width: 450px;
  background-color: #fff;
  border-radius: 4px;
  border: none; }
  .form .select-form-btns {
    display: flex;
    flex-direction: column;
    width: 30px;
    height: 100%;
    flex: 1;
    border-right: 1px solid #ccc; }
    .form .select-form-btns .login-form-btn,
    .form .select-form-btns .register-form-btn {
      height: 50%;
      display: block;
      position: relative;
      width: 100%; }
      .form .select-form-btns .login-form-btn:hover,
      .form .select-form-btns .register-form-btn:hover {
        color: orangered;
        cursor: pointer; }
      .form .select-form-btns .login-form-btn i,
      .form .select-form-btns .register-form-btn i {
        padding: 5px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); }
    .form .select-form-btns .register-form-btn {
      border-top: 1px solid #ccc; }
      .form .select-form-btns .register-form-btn i {
        transform: translate(-50%, -50%) rotate(180deg); }
  .form .content {
    flex: 7; }

.active-form {
  color: orangered; }

.login-form {
  background: #fff; }
  .login-form .form-label {
    padding: 15px 20px;
    border-bottom: 1px solid #ccc;
    font-weight: 500;
    font-size: 15px; }
  .login-form .login-form-content {
    padding: 25px 20px; }
    .login-form .login-form-content .additional-options {
      display: flex;
      color: #ccc;
      align-items: center; }
      .login-form .login-form-content .additional-options label {
        font-size: 12px;
        margin: 0;
        line-height: 12px;
        display: flex; }
        .login-form .login-form-content .additional-options label:hover {
          color: #000;
          cursor: pointer; }
        .login-form .login-form-content .additional-options label span {
          padding-left: 5px; }
      .login-form .login-form-content .additional-options .forgot-password {
        font-size: 12px;
        margin-left: auto; }
        .login-form .login-form-content .additional-options .forgot-password:hover {
          color: #000;
          cursor: pointer; }
    .login-form .login-form-content .login-btns {
      padding: 25px 0;
      display: flex;
      flex-direction: column; }
    .login-form .login-form-content .middle-line {
      text-align: center;
      font-size: 12px;
      padding: 15px 0;
      position: relative; }
      .login-form .login-form-content .middle-line span {
        width: 50px;
        background: #fff;
        margin: 0 auto;
        z-index: 1;
        position: relative;
        display: block; }
      .login-form .login-form-content .middle-line:after {
        content: " ";
        position: absolute;
        height: 1px;
        width: 100%;
        background-color: #ccc;
        top: 50%;
        transform: translate(-50%, 0); }
    .login-form .login-form-content .notation {
      font-size: 12px; }
      .login-form .login-form-content .notation span {
        color: orangered;
        font-weight: 500;
        cursor: pointer; }
        .login-form .login-form-content .notation span:hover {
          text-decoration: underline; }

.register-form {
  background: #fff; }
  .register-form .form-label {
    padding: 15px 20px;
    border-bottom: 1px solid #ccc;
    font-weight: 500;
    font-size: 15px; }
  .register-form .register-form-content {
    padding: 25px 20px; }
    .register-form .register-form-content .notation {
      font-size: 12px; }
      .register-form .register-form-content .notation span {
        color: orangered;
        font-weight: 500;
        cursor: pointer; }
        .register-form .register-form-content .notation span:hover {
          text-decoration: underline; }

.field {
  position: relative;
  margin-bottom: 15px; }
  .field label {
    position: absolute;
    font-size: 9px;
    left: 9px;
    line-height: 9px;
    margin: 0px;
    color: #ccc;
    text-transform: capitalize;
    top: 5px; }
  .field input {
    height: 40px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0 10px;
    font-size: 11px; }

.invalid-feedback,
.valid-feedback {
  display: block; }

.is-error input {
  outline-color: #dc3545;
  border-color: #dc3545; }

.is-error label {
  color: #dc3545; }

.is-success input {
  outline-color: #28a745;
  border-color: #28a745; }

.is-success label {
  color: #28a745; }

.form-btn {
  height: 40px;
  border-radius: 4px;
  border: none;
  color: #fff; }
  .form-btn:hover {
    opacity: 0.9; }
  .form-btn span {
    padding-right: 10px; }

.reg-login {
  background-color: orangered; }

.fb-login {
  background-color: #3c5a99;
  margin-bottom: 10px; }

.tw-login {
  background-color: #38a1f3; }

.register {
  background-color: orangered;
  width: 100%;
  margin: 15px 0 30px 0; }

.btn-disabled {
  background-color: #f0825a; }
  .btn-disabled:hover {
    opacity: 1; }
