.register-btn {
  padding: 9px 30px;
  background: none;
  border: 1.5px solid #fff;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  cursor: pointer;

  &:hover {
    color: #ccc;
    border-color: #ccc;
  }
}
