.ui-btn {
  height: 40px;
  border-radius: 4px;
  border: none;
  color: #fff; }
  .ui-btn:hover {
    opacity: 0.9; }
  .ui-btn span {
    padding-right: 10px; }

.reg-login {
  background-color: orangered; }

.fb-btn {
  background-color: #3c5a99;
  margin-bottom: 10px; }

.tw-btn {
  background-color: #38a1f3; }

.dribbble-btn {
  background-color: #f74881; }

.register {
  background-color: orangered;
  width: 100%;
  margin: 15px 0 30px 0; }

.btn-disabled {
  background-color: #f0825a; }
  .btn-disabled:hover {
    opacity: 1; }

.badge-item {
  border-radius: 100%;
  height: 15px;
  width: 15px;
  position: absolute;
  background-color: #ccc; }
  .badge-item .content {
    font-size: 12px;
    position: absolute;
    color: #fff;
    left: 50%;
    top: -2px;
    transform: translate(-50%, 0); }
  .badge-item.warning {
    background-color: #fe5e3a; }
  .badge-item.normal-tr {
    top: 2px;
    right: -3px; }
  .badge-item.normal-tl {
    top: 2px;
    left: -3px; }
  .badge-item.small {
    height: 8px;
    width: 8px;
    top: 0px; }
  .badge-item.small-tl {
    left: 0px; }
  .badge-item.small-tr {
    right: 0px; }

.img-avatar {
  position: relative;
  height: 30px;
  width: 30px; }
  .img-avatar img {
    height: 100%;
    width: 100%;
    border-radius: 100%; }

.avatar-lg {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  height: 134px;
  width: 134px;
  top: -140px; }
  .avatar-lg img {
    border: 4px solid #fff; }

.avatar-medium {
  position: relative;
  height: 40px;
  width: 40px; }
  .avatar-medium .badge-item {
    top: 0px;
    right: -3px; }

.social-btn {
  border-radius: 100%;
  background: gray;
  width: 50px;
  height: 50px;
  margin-right: 15px;
  position: relative;
  cursor: pointer; }
  .social-btn:hover {
    opacity: 0.9; }
  .social-btn i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 28px;
    color: #fff; }
  .social-btn.new-friend {
    background-color: #38a1f3; }
  .social-btn.new-message {
    background-color: #3c5a99; }
  .social-btn.new-something {
    background-color: orangered; }

.elipsis-btn {
  font-size: 22px;
  line-height: 22px;
  cursor: pointer; }

.info-block {
  margin-bottom: 30px; }

.info-block-header {
  border-radius: 2px;
  border: 1px solid #e7ebf4;
  background-color: #fff;
  display: flex;
  padding: 25px 20px;
  margin-bottom: 1px; }
  .info-block-header .block-title {
    color: #404257;
    font-weight: 500;
    font-size: 18px;
    text-transform: capitalize; }
  .info-block-header .show-options {
    margin-left: auto;
    color: #ccc; }
    .info-block-header .show-options:hover {
      color: #000; }

.info-block-content {
  border-radius: 2px;
  border: 1px solid #e7ebf4;
  background-color: #fff;
  padding: 25px 20px; }

.info-block-item {
  align-items: center;
  display: flex; }
  .info-block-item .item-img {
    height: 40px;
    width: 40px;
    cursor: pointer; }
    .info-block-item .item-img.square {
      border-radius: 6px; }
    .info-block-item .item-img.circle {
      border-radius: 100%; }
  .info-block-item .item-info {
    margin-left: 10px; }
    .info-block-item .item-info .title {
      color: #404257;
      text-transform: capitalize;
      font-weight: 500;
      font-size: 15px;
      padding-bottom: 5px;
      line-height: 15px;
      cursor: pointer;
      width: 170px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }
    .info-block-item .item-info .description {
      color: #ccc;
      font-size: 14px;
      line-height: 14px;
      cursor: pointer;
      width: 200px; }
      .info-block-item .item-info .description:hover {
        opacity: 0.9;
        color: #000; }

.friends-voted {
  display: inline-flex;
  flex-direction: row;
  padding-left: 10px; }
  .friends-voted .voter {
    position: relative;
    margin-left: -10px;
    overflow: hidden; }
    .friends-voted .voter .voter-avatar img {
      cursor: pointer;
      border: 1px solid #fff; }
      .friends-voted .voter .voter-avatar img:hover {
        border: 1px solid #404257; }
