.badge-item {
  border-radius: 100%;
  height: 15px;
  width: 15px;
  position: absolute;
  background-color: #ccc; }
  .badge-item .content {
    font-size: 12px;
    position: absolute;
    color: #fff;
    left: 50%;
    top: -2px;
    transform: translate(-50%, 0); }
  .badge-item.warning {
    background-color: #fe5e3a; }
  .badge-item.normal-tr {
    top: 2px;
    right: -3px; }
  .badge-item.normal-tl {
    top: 2px;
    left: -3px; }
  .badge-item.small {
    height: 8px;
    width: 8px;
    top: 0px; }
  .badge-item.small-tl {
    left: 0px; }
  .badge-item.small-tr {
    right: 0px; }

.img-avatar {
  position: relative;
  height: 30px;
  width: 30px; }
  .img-avatar img {
    height: 100%;
    width: 100%;
    border-radius: 100%; }
